$color-black: #363a3d;
$color-white: #fff;
$color-gray-1: #dee2e6;
$color-gray-2: #ededed;
$color-gray-3: #5b606b;
$color-gray-4: #3e424b;
$color-gray-5: #212529;
$color-gray-transparent: rgba(62, 66, 75, 0.5);
$color-orange: #ff800f;
$color-green-1: #6ebe3b;
$color-green-2: #c9e1b9;
